    body{

        font-family: Arial, sans-serif;

        margin: 0;

        padding: 0;

    }

    header{

        background-color:#000000;

        color: rgb(255, 255, 255);

        padding: 5px;

    }

    header h1 {

          display: flex;

          justify-content: center;

    }

    nav{

        display: flex;

        justify-content: space-around;

    }

    nav a{

        color: rgb(255, 255, 255);

        text-decoration:solid;



    }

    hr{

        margin: 0;

    }

    main{

        display: flex;

        justify-content: space-around;

        padding: 20px;

    }

    section{

        width: 45%;

        border: 1px solid #000000;

        padding: 10px;

    }

    article img {

            width: 200px;

            height: 200px;

            border-radius: 50%;

            margin: 20px;

    }

    form{

        display: flex;

        flex-direction: column;

    }

    label{

        margin: 10px;

        padding: 10px;

    }

    textarea{

        height: 100px;

    }

    input[type="submit"] {

            width: 150px;

            height: 30px;

            padding: 0;

            background-color: #000000;

            color: #fff;

            border: none;

            border-radius: 10px;

        }

        input[type="submit"]:hover {

            background-color: #444;

        }

    footer{

        background-color: #000000;

        color: rgb(255, 255, 255);

        text-align: center;

        padding: 10px;

    }
